# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/

# Datasets
data/

# Model Weights
*.pt
*.pth
*.onnx

# Logs
*.log

# Environment variables
.envgit add .